name: Apply Patches
on:
  workflow_dispatch:

jobs:
  update-submodules:
    runs-on: ubuntu-slim
    steps:
    - uses: actions/checkout@main
      with:
        submodules: 'false'
        
    - name: Update all submodules
      run: |
        git reset --hard
        git apply --reject --whitespace=fix ./41.diff || echo "git apply failed (Android patch set)"
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"
        git add .
        git commit -m "Apply Patches"
        git push
